<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98255797692-m8dcftmsjpgctd4p76t4jvddjmv8ar8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98255797692-m8dcftmsjpgctd4p76t4jvddjmv8ar8h</string>
	<key>API_KEY</key>
	<string>AIzaSyAyXmmV6RCWDfyzahtjm0z5hekF2bMVc5g</string>
	<key>GCM_SENDER_ID</key>
	<string>98255797692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-ed854</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-ed854.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98255797692:ios:419671f3f0ebf776463fb9</string>
</dict>
</plist>